.title {
    text-align: right;
    font-size: 2rem;
    color:black;
    font-style: bold;
    padding: 5px;
    background-color: rgba(218, 83, 128, 0.2);
    border: 1px solid rgb(99, 99, 99);
    margin-left: 135px;
    margin-right: 135px;
  }