.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('https://lifeofkare.files.wordpress.com/2018/02/b723f0e3-012f-432f-9cb5-ee7a07131577.jpg?w=550');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }