nav {
    width: 60%;
    font-size: 3.5rem;
    padding: 10px;
    color: rgb(53, 47, 47);
    margin-top: 1%;
    background-color: rgb(228,159,126, .3);
    background: cover;
    font-family: 'Petit Formal Script', cursive;
    border: 3px rgb(99, 99, 99) solid;
    border-radius: 2px;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
  }
  
  ul {
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      font-size: 2rem;
    }
  }